
/* ページ全体 */
body {
  margin: 0;
  background-color: #DCE9DF;
  font-family: sans-serif;
}

/* タイトル */
header {
  text-align: center;
  padding: 15px;
  color: #34483D;
}

/* 円が動く領域 */
main {
  position: relative;
  width: 100%;
  height: 70vh;
  overflow: hidden;
}

/* 円形 */
#circle {
  position: absolute;
  width: 2cm;
  height: 2cm;
  border: 2px solid black;
  border-radius: 50%;
  background-color: white;
  box-sizing: border-box;

  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

/* 操作ボタン */
footer {
  text-align: center;
  padding: 15px;
}

button {
  padding: 10px 30px;
  font-size: 16px;
  cursor: pointer;
}
